.monkimg {
    height: 200px;
    margin: .5rem;
    position: relative;
    width: 325px;
  }
  
  .monkimg > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .monkimg > .img-container > img {
    width: 90%
  }
  